
@media screen and (min-height: 960px) {
    html {
        font-size: 15px;
    }
}

@media screen and (max-height: 800px) {
    html {
        font-size: 11px;
    }
}

@media screen and (max-height: 700px) {
    html {
        font-size: 10px;
    }
}

@media screen and (max-height: 429px) {
    html {
        font-size: 9px;
    }
}

@media screen and (max-height: 390px) {
    html {
        font-size: 9px;
    }
}

@media screen and (max-height: 362px) {
    html {
        font-size: 9px;
    }
}

@media screen and (max-height: 351px) {
    html {
        font-size: 8px;
    }
}

@media screen and (max-height: 311px) {
    html {
        font-size: 8px;
    }
}

@media screen and (max-height: 240px) {
    html {
        font-size: 8px;
    }
}


div.open {
	animation: fadein 2s;
	display:block
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1.0;
    }
}

div.closed {
	display:none
}

div#heartpage {
	background-color:#000000;
	height:100%;
	width:100%
}

div#header {
	background-color:#000000;
	z-index:1;
	top:0%;
	width:100%;
	height: 11%;
	position: absolute;
}

div#headerTitleHeaderBackround{
	background-color:#555555;
	text-align:center;
	z-index:1;
	top:0%;
	width:100%;
	height: 100%;
	position: absolute;
}

div#headerTitleHeaderBackround_electricity{
	background-color:#4d94ff;
	text-align:center;
	z-index:1;
	top:0%;
	width:100%;
	height: 100%;
	position: absolute;
}

div#infoButton {
border-radius: 50%;
text-align: right;
position: absolute;
height:80%;
width:5%;
top:10%;
right:7%;
margin: auto;
z-index:10
}

div#infoButton:hover {
 background-color:#888888;
 cursor: pointer;
 cursor: hand;
}

div#back, div#more, div#arrhythmia, div#AED, div#home, div.halfHeart{
 text-align: left;
 z-index: 10;
 margin: auto;
 position: absolute;
}


div#back {
 float: left;
 height:80%;
 width:5%;
 max-width:5%;
 top:10%;
 left:7%;
}

div#more {
 border-radius: 20px;
 left: 3%;
 float: left;
 width: 5%;
 max-height: 5%;
 top:75%;
 vertical-align: middle;
 text-align: center;
}

div#more:hover {
 background-color:#888888;
 cursor: pointer;
 cursor: hand;
}

div#arrhythmia, div#AED{
 left: 3%;
 float: left;
 max-height: 7%;
 width:7%;
 top:15%;
 z-index:10;
 text-align:center;
 font-size: 230%;
}

div.selectedItem {
	color:rgb(255,255,255);
}

div#footInformation {
	text-align:center;
	background-color:#555555;
	z-index:1;
	top:85%;
	width:100%;
	height: 15%;
	position: absolute;
}

div#footInformation_electricity {
	text-align:center;
	background-color:#4d94ff;
	z-index:1;
	opacity:0.5;
	top:85%;
	width:100%;
	height: 15%;
	position: absolute;
}

div#footECG {
	background-color:#888888;
	z-index:3;
	opacity:1;
	left:25%;
	width:30%;
	height: 100%;
	position: absolute;
}

div#footLVP {
	background-color:#888888;
	z-index:3;
	opacity:1;
	left:60%;
	width:30%;
	height: 100%;
	position: absolute;
}

div#footHealthStatus {
	background-color:#888888;
	z-index:3;
	opacity:0.5;
	left:75%;
	width:20%;
	height: 100%;
	position: absolute;
}

div#myRenderer{
	text-align:center;
	z-index:0;
	left:0%;
	width:100%;
	height: 100%;
	position: absolute;
}

div#heartElectricity{
	text-align:center;
	z-index:0;
	left:0%;
	width:100%;
	height: 100%;
	position: absolute;
}

div#circularMenu{
	text-align:center;
	-webkit-align-self: center;
	margin: auto;
	z-index:2;
	left:45%;
	top:25%;
	width:10%;
	height: 30%;
	position: absolute;
}

div#circularSlider{
	text-align:center;
	margin: auto;
	z-index:0;
	width: 20%;
	vertical-align: middle;
	padding: 100px;
}

div#footMore {
	background-color: transparent;
	z-index:1;;
	width:100%;
	height: 13%;
	bottom:13%;
	position: absolute;
}

div#heartAttackButtonsContainer {
	background-color:transparent;
	z-index:1;
	bottom:7%;
	width:130%;
	height: 7%;
	left: 3%;
	position: absolute;
}

div.actionButtons {
    background-color:transparent;
 	text-align:center;
 	width:25%;
 	top:10%;
 	height:80%;
 	position: absolute;
 	z-index:2;
 	 font-size: 2.5em;
}

div.buttonText {
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 25%;
  width:100%;
  color:rgb(106,236,8);
}

div.actionButtons:hover {
	background-color:#999999;
	cursor: pointer;
	cursor: hand;
}

div#headerInfoText {
	font-size: 3em;
	text-align: center;
  	vertical-align: middle;
  	position: absolute;
  	top: 25%;
  	width:100%;
  	height:100%;
}


div#SceneButtonsContainer {
	border-radius: 0% 0% 25px 25px;
	background-color:#555555;
	z-index:1;
	top: 0%;
	width:70%;
	height: 7%;
	left: 15%;
	position: absolute;
}

div#halfHeartButton {
	border-radius: 25px 25px 25px 25px;
	background-color:#555555;
	z-index:1;
	bottom:16%;
	width:7%;
	height: 7%;
	left: 13%;
	position: absolute;
}

div.leftPanel {
  z-index:1;
  background-color: transparent;
  height:96%;
  width:25%;
  left:2%;
  top:4%;
  position: absolute;
}

div.leftTitle {
  background-color: transparent;
  text-align: left;
  vertical-align: middle;
  font-size: 4em;
  top: 0%;
  height:5%
  width:100%;
  z-index:1;
}

div.leftDescription {
  background-color: transparent;
  text-align: left;
  vertical-align: middle;
  font-size: 2em;
  top: 0%;
  width:100%;
  z-index:1;
  position: relative;
}

div.leftDetail {
  background-color: transparent;
  text-align: left;
  vertical-align: middle;
  font-size: 1.3em;
  top: 2%;
  z-index:1;
  position: relative;
}

div.leftButton:hover {
 cursor: pointer;
 cursor: hand;
}

div#rightInformation {
  background-color: transparent;
  z-index:1;
  height:96%;
  width:20%;
  right:0%;
  top:4%;
  position: absolute;
}

div#rightECG {
  z-index:3;
  left:0%;
  width:95%;
  top:2%;
  height: 17%;
  position: absolute;
}

div#rightLVP {
  z-index:3;
  left:0%;
  width:95%;
  top:40%;
  height: 17%;
  position: absolute;
}

div#rightRateLabel{
	background-color: transparent;
	text-align:center;
	vertical-align: middle;
	z-index:3;
	left:2%;
	height: 30%;
	position: absolute;
  	font-size: 3em;
}

div#rightRate{
	vertical-align: middle;
	background-color: transparent;
	z-index:3;
	left:2%;
	width:90%;
	top:75%;
	height: 20%;
	position: absolute;
}

div.rightChartTitle{
	background-color: transparent;
  	text-align: left;
  	vertical-align: middle;
	font-size: 3em;
	z-index:3;
	left:1%;
	width:97%;
	position: absolute;
}

div.rightChartDescription{
	background-color: transparent;
  	text-align: left;
  	vertical-align: middle;
	font-size: 2em;
	z-index:3;
	left:1%;
	width:97%;
	position: absolute;
	color:rgb(175,175,175);
}

div#home {
 float: right;
 height:8%;
 width:8%;
 max-width:8%;
 top:90%;
 right:20%;
}

div#home:hover {
 cursor: pointer;
 cursor: hand;
}

div.halfHeart {
 float: right;
 height:8%;
 width:8%;
 max-width:8%;
 top:90%;
 right:28%;
}

div.halfHeart:hover {
 cursor: pointer;
 cursor: hand;
}
